:root {
  --black: #202020;
  --max-height-header: 60px;
  --min-height-header: 50px;
  --color-100: #e2e2fd;
  --color-500: #836de7;
  --color-600: #7651da;
  --color-700: #6642c0;
  --deg: 90deg;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  list-style: none;
  outline: none;
  text-transform: capitalize;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #eee;
}
.container {
  max-width: 90%;
  margin: 0 auto;
  padding-top: 60px;
}
.btn {
  border: 1px solid #eee;
  border-radius: 20px;
  font-size: 1rem;
  padding: 10px 16px;
  cursor: pointer;

  @media (width <= 768px) {
    font-size: 0.8rem;
    padding: 8px 16px;
  }
}
.header-section {
  margin: 16px 0px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  & a {
    text-transform: lowercase;
    font-size: 14px;
    color: var(--color-700);
    transition: all 0.3s;
    &:hover {
      border-bottom: 1px solid;
      color: var(--color-500);
    }
  }
}
.grid-books {
  margin-top: 32px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 16px;
}
/* NAVIGATION */
.container-header {
  background-color: #eee;
  height: var(--max-height-header);
  box-shadow: 0px 0px 1px #202020;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;

  & .navigation {
    max-width: 90%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 0px;

    & .logo {
      cursor: pointer;
      z-index: 2;
      font-size: 20px;
      color: var(--black);
    }
    & .options {
      display: none;
    }
  }

  @media (width <= 768px) {
    & {
      height: var(--min-height-header);
    }
  }
}
/* NAVIGATION ITEMS */
#navigation-items {
  display: flex;
  gap: 32px;

  & .link {
    color: var(--black);
    transition: all 0.5s;
  }
  & .link:hover {
    padding-bottom: 0.3rem;
    color: var(--color-700);
    border-bottom: 0.1rem solid var(--color-700);
  }

  @media (width <= 768px) {
    & {
      padding-top: var(--min-height-header);
      position: fixed;
      background-color: var(--color-100);
      top: -500%;
      transition: top 1s;
      left: 0;
      right: 0;
      display: flex;
      gap: 0;
      flex-direction: column;
    }
    &.active {
      top: 0;
    }
    & .item {
      width: 100%;
      & .link {
        display: inline-block;
        text-align: center;
        padding: 12px 0px;
        width: 100%;
      }
      & .link:hover {
        color: var(--color-100);
        background-color: var(--color-500);
        transition: background-color 0.5s;
        padding: 12px 0px;
        border: 0;
      }
    }
  }
}
#btn-burger {
  display: none;
  width: 24px;
  cursor: pointer;

  @media (width <= 768px) {
    display: block;
    z-index: 2;
  }
}
#btn-burger img {
  pointer-events: none;
}
/* HERO */
.grid-hero {
  display: grid;
  grid-template-columns: 4fr 3fr;
  min-height: 100vmin;
  place-items: center;

  & .hero-image {
    width: 100%;
    object-fit: cover;
  }

  @media (width <= 768px) {
    & {
      padding-top: calc(20px + var(--min-height-header));
      padding-bottom: 70px;
      display: grid;
      grid-template-columns: 1fr;
    }
    & .hero-image {
      width: 85%;
    }
  }
}
.hero-info {
  span {
    color: var(--color-700);
  }
  & h1 {
    margin-bottom: 8px;
    color: var(--black);
    font-size: 56px;
  }
  & p {
    max-width: 500px;
    font-size: 16px;
    margin-bottom: 18px;
    line-height: 24px;
    text-transform: none;
  }
  & .hero-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }

  @media (width <= 768px) {
    & h1 {
      font-size: 36px;
      text-wrap: balance;
    }
    & p {
      text-wrap: balance;
    }
  }
}
.hero-buttons {
  & .btn-browse {
    background-color: transparent;
    border: 1px solid var(--color-700);
    color: var(--color-700);
    transition: background-color 0.5s;
  }
  & .btn-browse:active {
    background-color: var(--color-100);
  }
  & .btn-join {
    background-color: var(--color-700);
    color: #fff;
    transition: background-color 0.5s;
  }
  & .btn-join:hover {
    background-color: var(--color-600);
  }
  & .btn-join:active {
    background-color: var(--color-700);
  }
}
/* MAIN */
.container-main {
  padding-top: 60px;
}
.card-book {
  border-radius: 4px;
  overflow: hidden;

  & img {
    object-fit: cover;
    cursor: pointer;
    width: 100%;
    aspect-ratio: 2/3;
    transition: transform 0.5s;
  }
  &:hover img {
    transform: scale(1.03);
  }
  & .content {
    padding: 4px;
  }
  & h3 {
    font-size: 16px;
    color: var(--color-700);
  }
  & h4 {
    font-size: 14px;
    color: var(--black);
  }
  & p {
    margin-top: 6px;
    font-weight: bold;
    font-size: 14px;
  }
}
/* About us */
.section-about {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: space-around;
  & .card {
    min-width: 120px;
    width: 320px;
    height: fit-content;
    padding: 20px;
    text-align: center;

    & h3 {
      margin: 16px 0px;
      font-weight: bold;
    }
    & img {
      color: var(--color-700);
    }
    & svg {
      width: 40px;
      stroke: var(--color-700);
      fill: var(--color-700);
    }
    & p {
      text-wrap: balance;
    }
  }
}
